[bumpversion]
current_version = 1.0.0
commit = True
tag = True
tag_name = v{new_version}
message = chore(release): bump version {current_version} -> {new_version}

[bumpversion:file:Cargo.toml]
search = version = "{current_version}"
replace = version = "{new_version}"

[bumpversion:file:Makefile]
search = BRAIN_VERSION := {current_version}
replace = BRAIN_VERSION := {new_version}

[bumpversion:file:crates/web/app/package.json]
search = "version": "{current_version}"
replace = "version": "{new_version}"
